doctype 5
html(lang="en")
  head
    meta(charset="utf-8")
    title NodeScape
    != css('styles.css')
    != LRScript

  body(data-view="#{view}")
    block content


    // != js('scripts.js')
    script(src="/zepto.min.js")
    script(src="/socket.io/socket.io.js")
    block scripts
